<div
  class="repo-list"
  *ngIf="repos$ | async as repos; else loadingOrError"
>
  <h1>My Repos</h1>

  <div class="repo-card-list">
    <a
      [routerLink]="['/repo', repo.id]"
      [state]="{ 'repo': repo }"
      *ngFor="let repo of repos"
    >
      <mat-card class="repo-card">
        <mat-card-header>
          <mat-card-title>{{ repo.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ repo.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>

<ng-template #loadingOrError>
  <div *ngIf="error$ | async as error; else loading">
    <mat-card class="error-card">
      <mat-card-title-group class="error-title">
        <mat-icon aria-hidden="true" color="warn" class="error-icon">error</mat-icon>
        <mat-card-title class="title">
          <h1>Oops! There was an error!</h1>
        </mat-card-title>
      </mat-card-title-group>
      <mat-card-content class="error-content">
        <p>{{error}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #loading>
    <mat-spinner [ngStyle]="{'margin': '20px auto'}"></mat-spinner>
  </ng-template>
</ng-template>
